<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/script.js}" defer></script>
</head>
<body>
<header class="header">
    <img th:src="@{/img_main_page/slide-1.jpg}" class="hero-img" />

    <div class="nav-bar">
        <div class="menu">
            <button class="menu-btn">
                <img th:src="@{/img_main_page/free-icon.png}" class="menu-icon" />
            </button>
            <a href="/women" >women</a>
            <a href="/men" >men</a>
            <a href="#">kids</a>
        </div>

        <h1 class="store-name">MyStore</h1>
    </div>

    <div class="store-text">
        <h1 class="store-slogan">Одежда для вашей жизни</h1>
        <h3 class="store-description">
            Широкий ассортимент базовой одежды для людей, которые ценят своё
            время. Мы знаем, что вам нужно!
        </h3>
    </div>
</header>

<section>
    <h2 class="new-clothes">New Clothes</h2>

    <div class="scroll-carousel">
        <button class="arrow left" onclick="scrollCarousel(-1)">←</button>
        <div class="carousel">
            <a href="#" style="text-decoration: none; color: inherit">
                <article class="card">
                    <img
                            src="https://img.ostin.com/upload/mdm/media_content/resize/bf0/686_950_9648/157353590299.jpg"
                    />
                    <div class="price">₽ 1 990</div>
                </article>
            </a>

            <a href="#" style="text-decoration: none; color: inherit">
                <article class="card">
                    <img
                            src="https://img.ostin.com/upload/mdm/media_content/resize/9de/369_510_a7a0/155905050299.jpg"
                    />
                    <div class="price">$ 19.90</div>
                </article>
            </a>

            <a href="#" style="text-decoration: none; color: inherit">
                <article class="card">
                    <img
                            src="https://img.ostin.com/upload/mdm/media_content/resize/b3b/686_950_63ba/156186070299.jpg"
                    />
                    <div class="price">₽ 1 990</div>
                </article>
            </a>

            <a href="#" style="text-decoration: none; color: inherit">
                <article class="card">
                    <img
                            src="https://img.ostin.com/upload/mdm/media_content/resize/32b/686_950_1bb3/148990360299.jpg"
                    />
                    <div class="price">₽ 1 990</div>
                </article>
            </a>

            <a href="#" style="text-decoration: none; color: inherit">
                <article class="card">
                    <img
                            src="https://img.ostin.com/upload/mdm/media_content/resize/4ed/686_950_1afc/155923930299.jpg"
                    />
                    <div class="price">₽ 1 990</div>
                </article>
            </a>

            <a href="#" style="text-decoration: none; color: inherit">
                <article class="card">
                    <img
                            src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/plate/cms_auto_upload/complect__230625__4-min.jpg"
                    />
                    <div class="price">₽ 1 990</div>
                </article>
            </a>

            <a href="#" style="text-decoration: none; color: inherit">
                <article class="card">
                    <img
                            src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/plate/cms_auto_upload/complect__230625__8-min.jpg"
                    />
                    <div class="price">₽ 1 990</div>
                </article>
            </a>

            <a href="#" style="text-decoration: none; color: inherit">
                <article class="card">
                    <img
                            src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/plate/cms_auto_upload/complect__230625__10-min.jpg"
                    />
                    <div class="price">₽ 1 990</div>
                </article>
            </a>

            <a href="#" style="text-decoration: none; color: inherit">
                <article class="card">
                    <img
                            src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/plate/cms_auto_upload/complect__230625__11-min.jpg"
                    />
                    <div class="price">₽ 1 990</div>
                </article>
            </a>
        </div>
        <button class="arrow right" onclick="scrollCarousel(1)">→</button>
    </div>
</section>
</body>
</html>
